.card {
    max-width: 400px;
    margin: 6rem auto;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.link{
 cursor: pointer;
 text-decoration:underline;
 color: cornflowerblue;
}
.title-img{
    height: 100px;
    width:  100px;
}
.title-text{
    margin: 0px;
}