$top-navbar-bg-color: #FFF;
$top-navbar-text-color: #000000; // #f3f1f1;
$top-navbar-height: 56px;
$logo-color: #000000;
$primary-text: #65748B;
$main-bg-color: #FAFAFA;
$sidebar-bg:#FFF;
$sidebar-text-color:#FF385C;
$primary-color:#FF385C;
$secondary-color: #629cff;
