.home-icon {
    background: url('../assets/icons/home.svg');
  }
  
  .patients-icon {
    background: url('../assets/icons/patients.svg');
  }
  
  .reports-icon {
    background: url('../assets/icons/reports.svg');
  }
  
  .insurance-icon {
    background: url('../assets/icons/insurance.svg');
  }
  .heart-icon {
    background: url('../assets/icons/heart.svg');
  }

  .staff-icon {
    background: url('../assets/icons/staff.svg');
  }

  .facility-icon {
    background: url('../assets/icons/facility.svg');
  }