

.user-info {
  font-size: 0.9rem;
  color: #333;
}

.card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title-img{
    height: 100px;
    width:  100px;
}
.title-text{
    margin: 0px;
}