/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./assets/theme.css";
@import "./styles/contants";
@import "./styles/layout.scss";
@import "./styles/chart.scss";
@import "./styles/table.scss";
@import "./styles/calendar.scss";
@import "./styles/tabs.scss";
@import "./styles/accordian.scss";
@font-face {
  font-family: "Urbanist";
  src: url("./styles/fonts/Urbanist-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply Custom Font to Body */
body {
  font-family: "Urbanist", sans-serif;
  background-color: $main-bg-color !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-text;
  }

  p {
    color: $primary-text;
  }

  color: $primary-text;
  .p-card-p0 {
    .p-card-content {
      padding: 0px;
    }
    .p-card-body {
      padding: 0px;
    }
  }
  ul {
    margin-top: 0rem;
    margin-bottom: 0px;
    padding-left: 0rem;
  }
}

/** These fonts are added in only temporarily until Angular has it's own theming system */

html {
  font-family: var(--amplify-fonts-default-static);
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--amplify-fonts-default-variable);
  }
}

.federated-sign-in-container {
  flex-direction: column;
  padding: 0 0 1rem 0;
}

.federated-sign-in-button {
  display: block;
}

.federated-sign-in-button-row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.p-inputtext,
.p-dropdown,
.p-autocomplete,
.p-calendar {
  width: 100% !important;
}
.p-steps-number {
  border-radius: 50% !important;
  height: 2rem;
  width: 2rem;
  font-size: 30px !important;
  padding: 2rem;
  font-weight: 700px !important;
  color: $primary-text !important;
}
.p-steps-title {
  font-size: 21px !important;
  font-weight: 600px !important;
  color: $primary-text !important;
}
.p-steps-item > a {
  text-decoration: none;
}

.bg-primary {
  background-color: #f0f5fd !important;
}
.details-container {
  padding-left: 100px;
  padding-right: 100px;
  h5,
  h3 {
    color: #6f7070;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  h6 {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
  }

  label {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #6f7070;
    font-weight: bold;
  }
}

.p-togglebutton {
  background: #6f7070;
  border-radius: 50px;
  border: 1px solid #6c757d;
  color: #fff;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.p-togglebutton-active {
  background: #fafafa;
  border-radius: 50px;
  border: 1px solid #6c757d;
  color: #6c757d;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.p-dialog .p-dialog-content {
  background: #fff;
  color: #212529;
  padding: 0rem 1rem 0rem 1rem;
}
.p-dialog .p-dialog-header {
  border-bottom: 0px solid;
  background: #fff;
  color: #212529;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.logo {
  margin-right: 5px;
  margin-left: 5px;
  height: 1.8rem;
  width:  1.7rem;
}
.logo-gif {
  background-image: url("./assets/logo.gif");
  opacity: 0.5;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
    background: #fff;
    border-bottom: 1px solid #ddd;
    .logo-container {
      margin-bottom: 0px !important;
    }
    p {
      margin-top: 0.1rem !important;
      margin-bottom: 0px !important;
    }
  }